---
title: Welcome to Middleman
---

.welcome
  %h1 Middleman is Watching you
  %p.doc= link_to "Read Online Documentation", "http://middlemanapp.com/"
  %div{style: 'border: 2px solid #aaa; padding: 20px;margin: 20px auto;width: 500px; background: #fafafa; text-align: left;'}
    = render :markdown, 'markdown/hoge'
